<section class="py-5 container">
    <div class="row align-items-center">
        <div class="col-2 app-icon" routerLink="/">
            <img src="logo.png" alt="logo">
        </div>
        <div class="col-7 ">
            <form class="d-flex align-items-center search-form" role="search">
                <input class="form-control me-2 py-2" type="search" placeholder="Search here.." aria-label="Search">
                <mat-icon class="searchicon">search</mat-icon>
            </form>
        </div>
        <div class="col-3 text-end header-btn-grp">
            <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>shopping_bag</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button mat-flat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>grid_view</mat-icon>
                <h2>Catregories</h2>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item >
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
        </div>
    </div>
</section>